html, body {
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}

a, a:hover, a:active,
input, input:hover, input:active,
button, button:hover, button:active {
    text-decoration: none;
    background: none;
    border: none;
    color: black;
}

#buttons{
    margin: 2%;
    padding: 2%;
}